body {
    padding-top: 5rem;
    background-image: url("abstract-6.jpg");
}
    .sendbutton { 
        background-color: rgb(55, 43, 223);
        color: white;
    }
.required{
    color: red;
}
.hr{
    border-top:  solid purple 
}